In [1]:
#Importing necessary libraries

import selenium
from selenium import webdriver
import pandas as pd 
import numpy as np

from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import time

import warnings
warnings.filterwarnings("ignore")

In [48]:
# Q1 Solution:

# connecting to the webdriver
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website
driver.get("https://www.naukri.com/")

# finding the webelement for the “Skill, Designations, Companies" field using class-name and sending the required keys
search_job= driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

# finding the webelement for the “Location" field using absolute-xpath and sending the required keys
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

# finding the webelement for the "search" button using absolute-xpath and clicking it
search_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

# getting the we belements for job-titles using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
title_data= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job_titles= []
for i in title_data[:10]:
    job_titles.append(i.text)
    
# getting the webelements for company names using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
company_data= driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies= []
for i in company_data[:10]: 
    companies.append(i.text)
     
# getting the webelements for experience using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
exp_data= driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp= []
for i in exp_data[:10]:
    exp.append(i.text) 
    
# getting the webelements for location-data using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
location_data= driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location= []
for i in location_data[:10]:
    location.append(i.text) 

# the final dataframe
jobs= pd.DataFrame({"Job Title":job_titles, "Company":companies, "Experience":exp, "Location":location})
jobs

,Job Title,Company,Experience,Location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Bangalore/Bengaluru, Ahmedabad"
4,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
6,Data Analyst,Wipro,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
7,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
8,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
9,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru

In [50]:
# Q2 Solution:

# connecting to the webdriver
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website
driver.get("https://www.naukri.com/")

# finding the webelement for the “Skill, Designations, Companies" field using class-name and sending the required keys
search_job= driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

# finding the webelement for the “Location" field using absolute-xpath and sending the required keys
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

# finding the webelement for the "search" button using absolute-xpath and clicking it
search_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

# getting the webelements for job-titles using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
title_data= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job_titles= []
for i in title_data[:10]:
    job_titles.append(i.text)

# getting the webelements for company names using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
company_data= driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies= []
for i in company_data[:10]: 
    companies.append(i.text)
    
# getting the webelements for location-data using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
location_data= driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location= []
for i in location_data[:10]:
    location.append(i.text) 

# the final dataframe
jobs= pd.DataFrame({"Job Title":job_titles, "Company":companies, "Location":location})
jobs

,Job Title,Company,Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Hiring For Senior Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Pune"
3,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
4,Data Scientist,Applied Materials,Bangalore/Bengaluru
5,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
6,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
7,Research Scientist,IBM,Bangalore/Bengaluru
8,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
9,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

In [52]:
# Q3 Solution:

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website.
driver.get("https://www.naukri.com/")

# finding the webelement for the “Skill, Designations, Companies" field using class-name and sending the required keys.
search_job= driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

# finding the webelement for the "search" button using absolute-xpath and clicking it.
search_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn.click()

# Using the explicit wait method till the element we want is loaded
wait = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")))
# finding the webelement for "location-filter" using absolute-xpath and clicking it.
location_filter= driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
location_filter.click()

# Using the explicit wait method till the element we want is loaded
wait = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")))

# finding the webelement for "salary-filter" using absolute-xpath and clicking it.
salary_filter= driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_filter.click()

# Using the explicit wait method till the webpage is loaded with the webelements we want.
wait = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div[1]/a")))

# getting the webelements for job-titles using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
title_data= driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
job_titles= []
for i in title_data[:10]:
    job_titles.append(i.text)
    
# getting the webelements for company names using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
company_data= driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies= []
for i in company_data[:10]: 
    companies.append(i.text)

# getting the webelements for experience data using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
exp_data= driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp= []
for i in exp_data[:10]:
    exp.append(i.text) 

# getting the webelements for location data using relative-xpath and then extract the text-data into a list.
# since only 10 elements required hence limiting the for loop to 10 iterations.
location_data= driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
location= []
for i in location_data[:10]:
    location.append(i.text)

# the final dataframe
jobs= pd.DataFrame({"Job Title":job_titles, "Company":companies, "Experience":exp, "Location":location})
jobs

,Job Title,Company,Experience,Location
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
1,Senior Associate - Data Science,Black Turtle,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
2,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
3,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
4,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
5,Data Scientist - Machine learning AI,Teq Analytics,3-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
7,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
8,Knowledge/Data Scientist,BOLD Technology Systems,3-6 Yrs,Delhi / NCR
9,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"

In [53]:
# Q4 Solution:

# defining a function to collect the necessary webelements and making the respective lists out of them.
def datacollect():
    data= driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in data:
        brands.append(i.text)

    data= driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in data:
        descriptions.append(i.text)

    data= driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in data:
        prices.append(i.text)

    data= driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in data:
        discounts.append(i.text)

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.flipkart.com")

# finding the webelement for the close-button in the login form using absolute-xpath and clicking on it.
button= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
button.click()

# finding the webelement for the search field using absolute-xpath and sending the required keys.
srch_sunglasses= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
srch_sunglasses.send_keys("sunglasses")

# finding the webelement for the search button using relative-xpath and clicking on it.
search_btn= driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

# defining the lists to be used.
brands=[]
descriptions=[]
prices=[]
discounts=[]

# using the explicit wait method till the elements we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_2WkVRV']")))

# collect the necessary data using the function defined.
datacollect()

# finding the webelement for the next-page button using absolute-xpath and clicking on it.
next_page_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
next_page_btn.click()

# refreshing the page and then using the explicit wait method till the elements we want is loaded.
driver.refresh()
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_2WkVRV']")))

# collect the necessary data from the current page using the function defined.
datacollect()

# finding the webelement for the next-page button using absolute-xpath and clicking on it.
next_page_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
next_page_btn.click()

# refreshing the page and then using the explicit wait method till the elements we want is loaded.
driver.refresh()
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_1xHGtK _373qXS']")))

# collect the necessary data from the current page using the function defined.
datacollect()

# the final dataframe and the top100 results.
sunglasses= pd.DataFrame({"Brand":brands, "Price":prices, "Discount":discounts, "Description":descriptions})
sunglasses[:100]

,Brand,Price,Discount,Description
0,GANSTA,₹314,84% off,"UV Protection, Night Vision, Riding Glasses Av..."
1,VINCENT CHASE,₹749,62% off,"by Lenskart Polarized, UV Protection Rectangul..."
2,DAHAAZIL,₹177,82% off,"UV Protection, Night Vision, Riding Glasses Wa..."
3,New Specs,₹264,89% off,UV Protection Rectangular Sunglasses (Free Size)
4,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...,...
95,ROYAL SON,₹616,69% off,"Polarized, UV Protection Retro Square Sunglass..."
96,VINCENT CHASE,"₹1,099",45% off,"Polarized, UV Protection Round Sunglasses (51)"
97,GANSTA,₹314,84% off,"UV Protection, Riding Glasses Aviator Sunglass..."
98,kingsunglasses,₹299,85% off,"Mirrored, UV Protection Wayfarer Sunglasses (53)"
99,ROYAL SON,₹664,66% off,"Polarized, UV Protection Wayfarer, Retro Squar..."

In [66]:
# Q5 Solution:

# defining a function to collect the necessary webelements and making the respective lists out of them.
def datacollect():
    
    data1= driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    data2= driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
    data3= driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    data4= driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']")
    
    # data1 holds ratings webdata, data2 holds review-summary, data3 holds full-review.
    # The tag and class name of poor-ratings(1 and 2 star) elements are different from
    # the higher-ratings ones. Hence giving an if-else condition to treat pages having 
    # poor-ratings differently.
    # data4 holds ratings, review-summary and full-review data together(for pages with
    # poor-ratings) from which each type is extracted separately using split function.
    
    if (len(data1)==len(data2)):
        for i in data1:
            ratings.append(i.text)

        for i in data2:
            rvw_smry.append(i.text)

        for i in data3:
            full_rvw.append(i.text)
            
    else:
        for i in data4:
            contents= (i.text).split("\n")
            ratings.append(contents[0])
            rvw_smry.append(contents[1])
            full_rvw.append(contents[2])

# defining the lists to be used.          
ratings=[]
rvw_smry=[]
full_rvw=[]

# connecting to the firefox webdriver.
driver= webdriver.Firefox()

# opening the target website.
driver.get("https://www.flipkart.com")

# finding the webelement for the close-button in the login form using absolute-xpath and clicking on it.
button= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
button.click()

# finding the webelement for the search field using absolute-xpath and sending the required keys.
srch_iphone= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
srch_iphone.send_keys("iphone 11")

# finding the webelement for the search button using relative-xpath and clicking on it.
search_btn= driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

# using the explicit wait method till the element we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_4rR01T']")))

# finding the webelements for different variants of iphone11 and selecting the required one and clicking it.
element= driver.find_elements(By.XPATH,"//div[@class='_4rR01T']")[3].click()

# switching the tab to the newly opened one.
driver.switch_to.window(driver.window_handles[1])

# using the explicit wait method till the element we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,"//div[@class='_3UAT2v _16PBlm']")))

# finding the webelement for the "all-reviews" button using relative-xpath and clicking it.
all_reviews_click= driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']").click()

# putting the execution of the program on hold for 10 seconds so that the page gets time to load properly.
time.sleep(10)

# using the explicit wait method till the element we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")))

# collect the required data using the function defined.
datacollect()

# using the explicit wait method till the element we want is loaded.
wait= WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,"//a[@class='_1LKTO3']")))

# finding the webelement for "next" button using relative-xpath and clicking it.
nxt_btn= driver.find_element(By.XPATH,"//a[@class='_1LKTO3']").click()

# putting the execution of the program on hold for 10 seconds so that the page gets time to load properly.
time.sleep(10)

# using the explicit wait method till the element we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")))

# collect the required data from the current page using the function defined.
datacollect()

# since we already have collected data from 2 pages hence need to do for 8 more pages. Each page holds 10 reviews. 
for i in range(0,8):
    
    wait1= WebDriverWait(driver,10).until(EC.presence_of_all_elements_located((By.XPATH,"//a[@class='_1LKTO3']")))
    wait1= WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,"//nav[@class='yFHi8N']")))    
    nxt_btn= driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")[1].click()
    driver.refresh()
    wait2= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")))
    datacollect()
    time.sleep(10)

# the final dataframe
reviews= pd.DataFrame({"Rating":ratings, "Review Summary":rvw_smry, "Full Review":full_rvw})
reviews

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Don’t expect much from front camera… especiall...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

In [55]:
# Q6 Solution:

# defining a function to collect the necessary webelements and making the respective lists out of them.
def datacollect():
    data= driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in data:
        brands.append(i.text)

    data= driver.find_elements(By.XPATH,"//div[@class='_2B099V']")
    for i in data:
        descriptions.append((i.text).split("\n")[1])

    data= driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in data:
        prices.append(i.text)

    data= driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in data:
        discounts.append(i.text)

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.flipkart.com")

# finding the webelement for the close-button in the login form using absolute-xpath and clicking on it.
button= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
button.click()

# finding the webelement for the search field using absolute-xpath and sending the required keys.
srch_sneakers= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
srch_sneakers.send_keys("sneakers")

# finding the webelement for the search button using relative-xpath and clicking on it.
search_btn= driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn.click()

# defining the lists to be used.
brands=[]
descriptions=[]
prices=[]
discounts=[]

# using the explicit wait method till the elements we want is loaded.
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_2WkVRV']")))

# collect the necessary data using the function defined.
datacollect()

# finding the webelement for the next-page button using absolute-xpath and clicking on it.
next_page_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
next_page_btn.click()

# refreshing the page and then using the explicit wait method till the elements we want is loaded.
driver.refresh()
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_2WkVRV']")))

# collect the necessary data from the current page using the function defined.
datacollect()

# finding the webelement for the next-page button using absolute-xpath and clicking on it.
next_page_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
next_page_btn.click()

# refreshing the page and then using the explicit wait method till the elements we want is loaded.
driver.refresh()
wait= WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='_1xHGtK _373qXS']")))

# collect the necessary data from the current page using the function defined.
datacollect()

# the final dataframe and the top100 results.
sneakers= pd.DataFrame({"Brand":brands, "Price":prices, "Discount":discounts, "Description":descriptions})
sneakers[:100]

,Brand,Price,Discount,Description
0,WOODLAND,"₹2,096",30% off,Sneakers For Men
1,BRUTON,₹284,78% off,Modern Trendy Sneakers Shoes Sneakers For Men
2,BRUTON,₹299,76% off,Modern Trendy Sneakers Shoes Sneakers For Men
3,URBANBOX,₹198,80% off,Sneakers Sneakers For Men
4,Magnolia,₹449,55% off,Sneakers For Men
...,...,...,...,...
95,HOTSTYLE,₹295,40% off,CR-1 Sneakers For Men
96,BAUCHHAAR,₹449,55% off,Sneakers For Men
97,KNIGHT WALKERS,₹648,56% off,Sneakers For Men
98,Bretton,₹251,74% off,Classy Stylish Ayasa Sneakers Sneakers For Men
99,BRUTON,₹299,76% off,Modern Trendy Sneakers Shoes Sneakers For Men

In [57]:
# Q7 Solution:

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.myntra.com/shoes")

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly.
time.sleep(10)

# using the explicit wait method till the elements we want is loaded.
wait = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")))

# finding the webelement for "price-filter" using absolute-xpath and clicking it.
price_filter= driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly after applying the filter.
time.sleep(10)

# using the explicit wait method till the elements we want is loaded.
wait = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")))

# finding the webelement for "color-filter" using absolute-xpath and clicking it.
color_filter= driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly after applying the filters.
time.sleep(10)

# defining the lists to be used.
brands=[]
prices=[]
short_des=[]

# finding the webelements of the shoes using relative-xpath. 
data= driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']")

# The text from each of the webelement is extracted and then split in such a way that we get the required piece-wise information.  
# The information is then put into respective lists.
for i in data:
    content= i.text.split("\n")
    brands.append(content[0])
    short_des.append(content[1])
    prices.append(content[2].split("Rs")[1].split(" ")[1])

# finding the webelement for the next-page button using absolute-xpath and clicking on it.
nxt_btn= driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a").click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly
time.sleep(10)

# Getting the required information from the current page and putting it into the respective lists just like the above for loop. 
data= driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']")
for i in data:
    content= i.text.split("\n")
    brands.append(content[0])
    short_des.append(content[1])
    prices.append(content[2].split("Rs")[1].split(" ")[1])

# the final dataframe
shoes= pd.DataFrame({"Brand":brands, "Price(Rs)":prices,"Short Description":short_des})
shoes

           Brand Price(Rs)                  Short Description
0           Nike     11895       Men React Infinity 3 Running
1           Nike      8895        Men SRG 3 FK Training Shoes
2   Hush Puppies      7649  Men Solid Leather Formal Slip-Ons
3           Nike      7560     Men Zoom C Pro HC Tennis Shoes
4           Nike      8920     Women React MR 3 Running Shoes
..           ...       ...                                ...
95       fitflop      7499       Embellished PU Comfort Pumps
96       fitflop      7499  Embellished Leather Wedge Sandals
97          Geox      7693     Women Leather Slip-On Sneakers
98      Columbia      7999      Women REDMOND V2 TrekkingShoe
99        Clarks      7224       Women Solid Leather Sneakers

[100 rows x 3 columns]

In [63]:
# Q8 Solution:

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.amazon.in/")

# finding the webelement for search field using absolute-xpath and sending the necessary keys.
srch_laptop= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
srch_laptop.send_keys("Laptop")

# finding the webelement for search-button using absolute-xpath and clicking it.
srch_button= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
srch_button.click()

# putting the execution of the program on hold for 15 seconds so that the website gets time to load properly.
time.sleep(15)

# finding the webelement for processor-filter using absolute-xpath and clicking it.
filter_processor= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[13]/span/a/span")
filter_processor.click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly after applying the filter.
time.sleep(10)

#refreshing the page.
driver.refresh()

# defining the lists to be used.
titles=[]
prices=[]

# Getting the required webelements using relative-xpath and then extracting the text which is then put into a list.
data= driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in data:
    titles.append(i.text)

# Getting the required webelements using relative-xpath and then extracting the text which is then put into a list.
data= driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in data:
    prices.append(i.text)

#the final dataframe and top10 results.
laptops= pd.DataFrame({"Title":titles, "Price":prices})
laptops[:10]

                                               Title     Price
0  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    75,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    84,990
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,890
4  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...    53,999
5  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    75,990
6  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    87,900
7  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,07,794
8  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    94,990
9  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    82,990

In [64]:
# Q9 Solution:

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.ambitionbox.com/")

# finding the webelement for "jobs" button using absolute-xpath and clicking it.
jobs_btn= driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]").click()

# finding the webelement for search field using absolute-xpath and sending the necessary keys.
srch_job= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
srch_job.send_keys("Data Scientist")

# finding the webelement for the search-button using absolute-xpath and clicking it.
srch_btn= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span").click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly
time.sleep(10)
#driver.refresh()
#wait= WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")))

# finding the webelement for the location-dropdown-menu using absolute-xpath and clicking it.
location_dropdown= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i").click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly.
time.sleep(10)

# finding the webelement for the location-search-field in the dropdown menu using absolute-xpath and sending the necessary keys.
location_key= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location_key.send_keys("Noida")

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly.
time.sleep(10)

# finding the webelement for the "Noida" option using absolute-xpath and clicking it.
location_select= driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly after giving the location.
time.sleep(10)

# Getting the required webelements using relative-xpath and then extracting the text which is then put into a list.
data= driver.find_elements(By.XPATH,"//a[@class='title noclick']")
companies=[]
for i in data:
    companies.append(i.text)

# Getting the required webelements using relative-xpath and then extracting the text which is then put into a list.
data= driver.find_elements(By.XPATH,"//span[@class='body-small']")
ratings=[]
for i in data:
    ratings.append(i.text)

# Getting the required webelements using relative-xpath and then extracting the text which is then put into a list.
data= driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
days= []
for i in data:
    days.append(i.text)

# the final dataframe
jobs= pd.DataFrame({"Company":companies, "Rating":ratings, "Posted": days[::2]})
jobs

                                             Company Rating   Posted
0                              Senior Data Scientist    4.1   8d ago
1        Data Scientist- Forecasting and R or Python    4.0  15d ago
2  Data Scientist - Machine Learning Algorithms (...    4.3   6d ago
3  Data Scientist - Machine Learning/Big Data (0-...    3.9  13d ago
4  Info Edge - Data Scientist - Machine Learning/...    3.9  14d ago
5  Info Edge - Senior Data Scientist - Machine Le...    3.9  14d ago
6  LatentBridge - Data Scientist - Python/R (2-6 ...    4.5  14d ago
7  Data Science Trainer | AI | Machine Learning |...    3.8   1d ago
8  Principal Scientist - Machine Learning - IT (1...    3.9  28d ago
9                               Data Scientist - NLP    3.8  14d ago

In [65]:
# Q10 Solution.

# connecting to the webdriver.
driver= webdriver.Chrome("chromedriver.exe")

# opening the target website. 
driver.get("https://www.ambitionbox.com/")

# finding the webelement for "salaries" button using absolute-xpath and clicking it.
salaries_btn= driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]").click()

# finding the webelement for search field using absolute-xpath and sending the necessary keys.
srch_job= driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
srch_job.send_keys("Data Scientist")

# putting the execution of the program on hold for 10 seconds so that the website gets time to load properly.
time.sleep(10)

# finding the webelement for "Data Scientist" option using absolute-xpath and clicking it.
ds_btn= driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p").click()

# putting the execution of the program on hold for 5 seconds so that the website gets time to load properly.
time.sleep(5)

# defining the lists to be used.
companies=[]
no_of_records=[]
avg_sal=[]
min_sal=[]
max_sal=[]
exp=[]
content=[]

# finding the webelements of the jobs listed using relative-xpath and then putting the elements in a list. 
data= driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in data:
    content.append(i.text)

# The text from each of the above elements is extracted and then split in such a way that we get the required piece-wise information.  
# The information is then put into respective lists.
for i in content[:10]:
    elements= i.split("\n")
    companies.append(elements[0])
    x= elements[2].split("(")
    exp.append(x[0])
    no_of_records.append(x[1].split(")")[0])

# finding the webelements for average-salary using relative-xpath and then extracting the text into a list.  
data= driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in data:
    avg_sal.append(i.text)

# finding the webelements for minimum-salary and maximum-salary using relative-xpath. 
data= driver.find_elements(By.XPATH,"//div[@class='value body-medium']")

# extracting the minimum-salary data from the above webelements and putting into a list.
min_data= data[::2]
for i in min_data:
    min_sal.append(i.text)

# extracting the maximum-salary data from the above webelements and putting into a list.
max_data= data[1::2]
for i in max_data:
    max_sal.append(i.text)

# the final dataframe
ds_jobs= pd.DataFrame({"Company": companies, 
                       "Experience Required": exp, 
                       "Average Salary": avg_sal,
                       "Minimum Salary": min_sal,
                       "Maximum salary": max_sal,
                       "Total Salary Record": no_of_records})
ds_jobs

,Company,Experience Required,Average Salary,Minimum Salary,Maximum salary,Total Salary Record
0,Walmart,3 yrs experience,₹ 30.6L,₹ 25.0L,₹ 36.0L,based on 12 salaries
1,Ab Inbev,3-4 yrs experience,₹ 20.8L,₹ 15.0L,₹ 26.2L,based on 33 salaries
2,ZS,2 yrs experience,₹ 16.7L,₹ 11.0L,₹ 22.0L,based on 15 salaries
3,Optum,3-4 yrs experience,₹ 15.9L,₹ 11.0L,₹ 22.5L,based on 32 salaries
4,Reliance Jio,3-4 yrs experience,₹ 15.7L,₹ 5.6L,₹ 26.2L,based on 21 salaries
5,Fractal Analytics,2-4 yrs experience,₹ 15.5L,₹ 10.0L,₹ 23.0L,based on 89 salaries
6,Tiger Analytics,2-4 yrs experience,₹ 14.8L,₹ 9.0L,₹ 20.0L,based on 51 salaries
7,UnitedHealth,2-4 yrs experience,₹ 14.0L,₹ 8.3L,₹ 21.1L,based on 57 salaries
8,EXL Service,3-4 yrs experience,₹ 13.2L,₹ 7.6L,₹ 21.0L,based on 21 salaries
9,Deloitte,2-4 yrs experience,₹ 12.8L,₹ 7.0L,₹ 25.0L,based on 69 salaries